{{range $shortcut, $desc := sdict "exchange10ChaosExalt" "Exchange 10 Chaos Orbs for an Exalted Orb" "exchange10TransmutAlch" "Exchange 10 Orbs of Transmutation for 10 Orbs of Alchemy" "exchange10BlessedAlt" "Exchange 10 Blessed Orbs for 20 Orbs of Alteration" "exchange10AlchChisel" "Exchange 10 Orbs of Alchemy for 20 Cartographer's Chisels" "exchange10ChromeGCP" "Exchange 10 Chromatic Orbs for 20 Gemcutter's Prisms" "exchange10JewellerFusing" "Exchange 10 Jeweller's Orbs for 20 Orbs of Fusing" "exchange10AugRegal" "Exchange 10 Orbs of Augmentation for 10 Regal Orbs" "exchange10WisdomChance" "Exchange 10 Scrolls of Wisdom for 20 Orbs of Chance" "exchange10SimplePrime" "Exchange 10 Simple Sextants for 10 Prime Sextants" "exchange10PrimeAwakened" "Exchange 10 Prime Sextants for 10 Awakened Sextants"}}
{{dbSet 0 (joinStr "" "poehcs_craft_" $shortcut) $desc}}
{{end}}
Inserted Craft Group 18