{{$page := 0}}
{{if not (eq (len .CmdArgs) 0)}}
  {{$page = sub (index .CmdArgs 0) 1}}
{{end}}
{{$crafts := dbGetPattern 0 "poehcs\\_craft\\_%" 10 (mult $page 10)}}
{{range $craft := $crafts}}{{$craft.Key}}: {{$craft.Value}}{{end}}