{{- range $shortcut, $desc := sdict "removeInfluence" "Remove a random Influence modifier from an item" "removeAddInfluence" "Remove a random Influence modifier from an item and add a new Influence modifier" "reforgeMoreCommonInfluence" "Reforge a Rare item with new random modifiers, including an Influence modifier. Influence modifiers are more common" "addLuckyInfluence" "Augment an item with a new Influence modifier with Lucky values" -}}
{{- dbSet 0 (joinStr "" "poehcs_craft_" $shortcut) $desc -}}
{{- end -}}
Inserted Craft Group 29
{{ deleteTrigger }}
{{ deleteResponse }}