{{- ange $shortcut, $desc := sdict "addSpeed" "Augment an item with a new Speed modifier" "removeSpeed" "Remove a random Speed modifier from an item" "randomiseSpeed" "Randomise the numeric values of the random Speed modifiers on a Magic or Rare item" "removeAddSpeed" "Remove a random Speed modifier from an item and add a new Speed modifier" "reforgeMoreCommonSpeed" "Reforge a Rare item with new random modifiers, including a Speed modifier. Speed modifiers are more common" "addLuckySpeed" "Augment an item with a new Speed modifier with Lucky values" "changeGemToOther" "Change a Gem into another Gem, carrying over experience and quality if possible" "sacrificeGem20GCP" "Sacrifice a Corrupted Gem to gain 20% of the gem's quality as Gemcutter's Prisms" "sacrificeGem30GCP" "Sacrifice a Corrupted Gem to gain 30% of the gem's quality as Gemcutter's Prisms" "sacrificeGem40GCP" "Sacrifice a Corrupted Gem to gain 40% of the gem's quality as Gemcutter's Prisms -}}
{{- bSet 0 (joinStr "" "poehcs_craft_" $shortcut) $des -}}
{{- n -}}
Inserted Craft Group 15