{{- ange $shortcut, $desc := sdict "removeNonAddCold" "Remove a random non-Cold modifier from an item and add a new Cold modifier" "addCold" "Augment an item with a new Cold modifier" "removeCold" "Remove a random Cold modifier from an item" "randomiseCold" "Randomise the numeric values of the random Cold modifiers on a Magic or Rare item" "removeAddCold" "Remove a random Cold modifier from an item and add a new Cold modifier" "reforgeMoreCommonCold" "Reforge a Rare item with new random modifiers, including a Cold modifier. Cold modifiers are more common" "addLuckyCold" "Augment an item with a new Cold modifier with Lucky values" "reforgeNormalToRareSpeed" "Reforge a Normal or Magic item as a Rare item with random modifiers, including a Speed modifier" "reforgeSpeed" "Reforge a Rare item with new random modifiers, including a Speed modifier" "removeNonAddSpeed" "Remove a random non-Speed modifier from an item and add a new Speed modifier -}}
{{- bSet 0 (joinStr "" "poehcs_craft_" $shortcut) $des -}}
{{- n -}}
Inserted Craft Group 14