{{- ange $shortcut, $desc := sdict "removeAttack" "Remove a random Attack modifier from an item" "randomiseAttack" "Randomise the numeric values of the random Attack modifiers on a Magic or Rare item" "removeAddAttack" "Remove a random Attack modifier from an item and add a new Attack modifier" "reforgeMoreCommonAttack" "Reforge a Rare item with new random modifiers, including an Attack modifier. Attack modifiers are more common" "addLuckyAttack" "Augment an item with a new Attack modifier with Lucky values" "reforgeNormalToRareLife" "Reforge a Normal or Magic item as a Rare item with random modifiers, including a Life modifier" "reforgeLife" "Reforge a Rare item with new random modifiers, including a Life modifier" "removeNonAddLife" "Remove a random non-Life modifier from an item and add a new Life modifier" "addLife" "Augment an item with a new Life modifier" "removeLife" "Remove a random Life modifier from an item -}}
{{- bSet 0 (joinStr "" "poehcs_craft_" $shortcut) $des -}}
{{- n -}}
Inserted Craft Group 12