{{- range $shortcut, $desc := sdict "splitScarab" "Split a Scarab into two Scarabs of lower rarity" "offeringTribute" "Change an Offering to the Goddess into a Tribute to the Goddess" "offeringGift" "Change an Offering to the Goddess into a Gift to the Goddess" "offeringDedication" "Change an Offering to the Goddess into a Dedication to the Goddess" "synthesiseImplicit" "Synthesise an item, giving random Synthesised implicits. Cannot be used on Unique, Influenced, Synthesised or Fractured items" "reforgeNormalToRareDefence" "Reforge a Normal or Magic item as a Rare item with random modifiers, including a Defence modifier" "reforgeDefence" "Reforge a Rare item with new random modifiers, including a Defence modifier" "removeNonAddDefence" "Remove a random non-Defence modifier from an item and add a new Defence modifier" "addDefence" "Augment an item with a new Defence modifier" "removeDefence" "Remove a random Defence modifier from an item" -}}
{{- dbSet 0 (joinStr "" "poehcs_craft_" $shortcut) $desc -}}
{{- end -}}
Inserted Craft Group 20
{{ deleteTrigger }}
{{ deleteResponse }}