{{- $args := parseArgs 1 "Argument is a craft shortcut, e.g. [prefix]isCraftShortcut [craftShortcut]"
  (carg "string" "The shortcut for the craft you wish to validate") -}}
{{- $key := joinStr "_" "poehcs" "craft" ($args.Get 0) -}}
{{- $craft := dbGet 0 $key -}}
{{ if $craft }}Shortcut {{ slice $craft.Key 13 }} is for {{ $craft.Value }}
{{ else }}Shortcut {{ $args.Get 0 }} is not a valid shortcut
{{ end }}
{{- deleteTrigger 60 -}}
{{- deleteResponse 60 -}}