{{- $page := 0 -}}
{{- if not (eq (len .CmdArgs) 0) -}}{{- $page = sub (index .CmdArgs 0) 1 -}}{{- end -}}
{{- $crafts := dbGetPattern 0 "poehcs\\_craft\\_%" 10 (mult $page 10) -}}
```md
# Available Crafts

List format is shortcut:description, all commands in this module require the shortcut
{{ range $craft := $crafts }}
- {{ slice $craft.Key 13}}: {{ $craft.Value }}
{{- end -}}
```