{{- crafts := dbGetPattern .User.ID "poehcs\\_u\\_%" 100  -}}
{{- f eq (len $crafts)  -}}
  {{- endDM "You have no crafts available -}}
{{- ls -}}
  {{- dm := " -}}
  {{- ange $craft := $craft -}}
    {{- keyParts := split (slice $craft.Key 9) "_ -}}
    {{- dm = joinStr "\\n" $dm (joinStr " " "You have" $craft.Value (index $keyParts 0) "at iLvl" (index $keyParts 1) -}}
    {{- oinStr " " "You have" $craft.Value (index $keyParts 0) "at iLvl" (index $keyParts 1 -}}
  {{- n -}}
  {{- endDM $d -}}
{{- n -}}