{{- $crafts := dbGetPattern .User.ID "poehcs\\_u\\_%" 100 0 -}}
{{- $ign := dbGet .User.ID "poehcs_ign" -}}
{{- $league := dbGet .User.ID "poehcs_league" -}}
{{- if eq (len $crafts) 0 -}}{{- sendDM "You have no crafts available" -}}
{{- else -}}
```md
# WTS {{$league.Value}} - IGN: {{$ign.Value}}
{{ range $craft := $crafts }}
{{- $keyParts := split (slice $craft.Key 9) "_" -}}
{{- $valueParts := split (toString $craft.Value) "|" -}}
{{- $cost := "Not Set" -}}
{{- if (ge (len $valueParts) 2) -}}
  {{- $cost := (index $valueParts 1) -}}
{{- end -}}
  ({{(toInt (index $valueParts 0))}}x) [{{index $keyParts 0}}][lvl{{index $keyParts 1}}] <{{$cost}}>
{{- end -}}
```
{{- end -}}