{{- $args := parseArgs 2 "Usage: !removeCraft craftShortcut [iLvl]"
  (carg "string" "The shortcut name of the craft you want to add")
  (carg "string" "The iLvl of the craft") -}}
{{- $craftExists := dbGet 0 (joinStr "_" "poehcs" "craft" (lower ($args.Get 0))) -}}
{{- if $craftExists -}}
  {{- $key := (joinStr "_" "poehcs" "u" (lower ($args.Get 0)) (lower ($args.Get 1))) -}}
  {{- $count := 0 -}}
  {{- $craft := dbGet .User.ID $key -}}
  {{- if $craft -}}
    {{- $parts := split (toString $craft.Value) "|" -}}
    {{- $count = add (toInt (index $parts 0)) -1 -}}
    {{- $price := "Not Set" -}}
    {{- if (ge (len $parts) 2) -}}
      {{ $price = index $parts 1 }}
    {{- end -}}
    {{- if (le $count 0) -}}
      {{- dbDelByID .User.ID $craft.ID -}}
    {{- else -}}
      {{- $value := joinStr "|" $count $price -}}
      {{- dbSet .User.ID $key $value -}}
    {{- end -}}
    You have {{$count}} {{$args.Get 0}} with level {{$args.Get 1}}, price is currently {{$price}}
  {{- else -}}
    You had no {{$args.Get 0}} at iLvl {{$args.Get 1}}
  {{- end -}}
{{- else -}}
  The craft shortcut you provided is not valid, please use `!iscraftshortcut` or `!listcrafts` to find the correct shortcut
{{- end -}}
{{- deleteTrigger 60 -}}
{{- deleteResponse 60 -}}